*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;;
  /* position:fixed; */
}

div {
  display: block;
}
header {
    background-color:cadetblue;
    height: 120px;
    padding: 30px;
    display:flex;
    justify-content: flex-start;
    overflow: hidden;
}

header h1 {
  display: flex;
  font-size: 48px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* float:left; */
  flex: start;
  color:white; 
}
nav {
  background-color: #818181;
  justify-content: flex-end;
  display: flex;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
  display: flex;
  padding:5px;
  list-style-type: square;
}

ul a {
  display:flex;
  margin:8px 30px 10px 30px;
  justify-content: flex-end;
  color:white;
  font-size:xx-large;
}

.image {
  width: 100%;
  background-image: url(.\assets\images\20201006_184519wilm20wc.jpg);
  background-color: mediumpurple;
  height: 500px;
  background-position:100% 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  /* width:90%; */
  justify-content: flex-end;
  overflow:auto;
  display: flex;
  float:right;
  clear:both;
}

p {
  font-size:larger;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#818181;
  background-color:thistle;
  padding: 60px;
  display:flex;
  /* flex-wrap:wrap-reverse; */
  text-align: right;
  justify-content: flex-end;
  width: 90%;
  margin-left: 25px;
  margin-right: 5px;
  margin-top: 0;
  
}
.sidenav {
  height: 75%; 
  width: 180px; /* Set the width of the sidebar */
  position:absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; 
  top: 25; /* Stay at the top */
  left: 0;
  background-color:#818181; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow: auto;
  padding-top: 20px;
  border: 2px;
  border-color: white;
}

/* The navigation menu links */
.sidenav a {
  padding: 50px 12px 50px 18px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
}

.footer {
  background-color:cadetblue;
  color: white;
  padding: 40px;
}




















